**

!gradle/
!gradle/**
!gradle.properties
!gradlew
!settings.gradle
!build.gradle
!LICENSE
!lombok.config
!marquez.dev.yml
!pmd-marquez.xml

!docker/
!docker/entrypoint.sh

!api/
!api/build.gradle
!api/src/
!api/src/main/
!api/src/main/**

!clients/
!clients/java/
!clients/java/build.gradle
!clients/java/src/
!clients/java/src/main/
!clients/java/src/main/**
