*.iml
*.swp
*.class
.DS_Store
.classpath
.gradle/
.idea/
.project
.settings/
.vscode/
build/
dist/
out/

# Local configuration and credentials
marquez.yml
values.private.yaml

# k6 load-test output
api/load-testing/metadata.json
api/load-testing/results/

# jenv
.java-version

# Dependent Helm charts
chart/charts/
